crypto:
  # Tên project dbt: crypto
  binance_dwh:
    target: dev
    outputs:

      dev:
        type: postgres
        host: "{{ env_var('POSTGRES_HOST', 'postgres') }}"
        port: "{{ env_var('POSTGRES_PORT', '5432') | int }}"
        user: "{{ env_var('POSTGRES_USER', 'dataeng') }}"
        password: "{{ env_var('POSTGRES_PASSWORD', 'dataeng123') }}"
        dbname: "{{ env_var('POSTGRES_DB', 'dwh') }}"
        
        # Schema riêng cho domain Crypto-Binance
        schema: "crypto_binance_dev"

        threads: 4
        keepalives_idle: 0
        connect_timeout: 10
        sslmode: prefer

        # Optional: quoting để tránh conflict tên cột
        quoting:
          identifier: false
          schema: false
          database: false

      prod:
        type: postgres
        host: "{{ env_var('POSTGRES_HOST', 'postgres') }}"
        port: "{{ env_var('POSTGRES_PORT', '5432') | int }}"
        user: "{{ env_var('POSTGRES_USER', 'dataeng') }}"
        password: "{{ env_var('POSTGRES_PASSWORD', 'dataeng123') }}"
        dbname: "{{ env_var('POSTGRES_DB', 'dwh') }}"
        
        # Schema riêng cho prod
        schema: "crypto_binance"

        threads: 8
        keepalives_idle: 0
        connect_timeout: 10
        sslmode: prefer

        quoting:
          identifier: false
          schema: false
          database: false
